/* Universal Styles */

html {
  font-size: 18px;
  min-height: 100vh;
  position: relative; 
}

@media only screen and (max-width: 560px) {
  html { 
    font-size: 15px;

  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
  height:16.66rem;
  width:16.66rem;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  min-height: 100vh;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #a57619;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
}

footer{
  font-size : .8rem ;
  font-family:sans-serif;
  background-color: #000;
  color:#fff;
  padding: .66rem 0;
  text-align: center;
  position: absolute; 
  bottom: 0;
  min-width:100%
}